coastsat_data
cache
coastsatmaster
coastsat
archives
info_copernicus
*.png
old_jupyter_notebooks
*.nc
*.xlsx
*.csv
*.cpg
*.prj
*.sbn
*.sbx
*.shp
*.shx
*.dbf
*.tif
*.tiff
*.shp.xml
*.zip
*.xml
*.json
*.kmz
*.pyc