data/
excel
bash
info_islands
figures
coastsat_data
cache
maps
tests
shp
coastsatmaster
coastsat
archives
info_copernicus
gif
geojson
old_jupyter_notebooks
*.png
*.nc
*.xlsx
*.csv
*.cpg
*.prj
*.sbn
*.sbx
*.shp
*.shx
*.dbf
*.tif
*.tiff
*.shp.xml
*.zip
*.xml
*.json
*.kmz
*.pyc
*.gif
*.data