data/
excel/
bash/
figures/
coastsat_data/
cache/
maps/
tests/
test/
shp/
shp_atolls/
coastsat/
archives/
info_copernicus/
gif/
geojson/
old_jupyter_notebooks/
.vscode/
jupyter/
_pycache_
*.png
*.nc
*.xlsx
*.csv
*.cpg
*.prj
*.sbn
*.sbx
*.shp
*.shx
*.dbf
*.tif
*.tiff
*.shp.xml
*.zip
*.xml
*.json
*.kmz
*.pyc
*.gif
*.data